<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Company Wiki</h1>
    <p>This is a home to all thing tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
    <p><a class="btn btn-primary btn-lg" href="/session/new" role="button">Sign in</a> - OR - <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a></p>
  </div>
</div>
