<h3>All Articles</h3>

<% articles.forEach(function (article, i) { %>
  <div>
    <h4><a href="/articles/<%= article._id %>"><%= article.title %></a> - <small>by <%= article.author %></small></h4>
    <p><%= article.summary %></p>
  </div>
  <hr/>
<% }) %>
