<div class="container">

<form action="/articles" method="post">
  <h2 class="form-signin-heading">Create a New Article</h2>
  <div class="form-group">
  <label for="inputTitle">Article Title</label>
  <input type="text"
         id="inputTitle"
         class="form-control"
         name="article[title]"
         placeholder="title of article">
  </div>
  <label for="inputCategories">Categories</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="article[category][]"
      value="Music"> Music
    </label>
    <label>
      <input type="checkbox" name="article[category][]"
      value="Media"> Media
    </label>
    <label>
      <input type="checkbox" name="article[category][]"
      value="Sports"> Sports
    </label>
    <label>
      <input type="checkbox" name="article[category][]"
      value="Technology"> Technology
    </label>
  </div>
  <div class="form-group">
  <label for="inputSummary">Summary</label>
  <input type="text"
         id="inputSummary"
         class="form-control"
         name="article[summary]"
         maxlength=140
         placeholder="summary of article, limit 140 characters">
  </div>
  <label for="inputText">Write away...</label>
  <textarea class="form-control" rows="30" name="article[content]"></textarea><br/>
  <button type="submit" class="btn btn-success">Post It</button>
</form>
