<div class="container">

<form action="/articles" method="post">
  <h2 class="form-signin-heading">Create a New Article</h2>
  <div class="form-group">
  <label for="inputTitle">Article Title</label>
  <input type="text"
         id="inputTitle"
         class="form-control"
         name="article[title]"
         placeholder="title of article">
  </div>
  <div class="form-group">
  <label for="inputAuthor">Author Name</label>
  <input type="text"
         id="inputAuthor"
         class="form-control"
         name="article[author]"
         placeholder="author of article">
  </div>
  <h4>Categories</h4>
  <div class="checkbox">
  <label for="category1">Music</label>
  <input id="category1"
         type="checkbox"
         name="article[category][]"
         value="Music">
  <label for="category2">Media</label>
  <input id="category2"
          type="checkbox"
          name="article[category][]"
          value="Media">
  <label for="category3">Sports</label>
  <input id="category3"
         type="checkbox"
         name="article[category][]"
         value="Sports">
  <label for="category4">Technology</label>
  <input id="category4"
         type="checkbox"
         name="article[category][]"
         value="Technology">
  </div>
  <div class="form-group">
  <label for="inputSummary">Summary</label>
  <input type="text"
         id="inputSummary"
         class="form-control"
         name="article[summary]"
         maxlength=140
         placeholder="summary of article, limit 140 characters">
  </div>
  <h4>Write away...</h4>
  <textarea class="form-control" rows="30" name="article[content]"></textarea><br/>
  <button type="submit" class="btn btn-success">Post It</button>
</form>
