<div class="container">

<form class="form-signin" action="/users" method="post">
  <h2 class="form-signin-heading">Please sign up</h2>
  <div class="form-group">
  <label for="inputName">User Name</label>
  <input type="text"
         id="inputName"
         class="form-control"
         name="user[name]"
         placeholder="User Name">
  </div>
  <div class="form-group">
  <label for="inputEmail">Email address</label>
  <input type="email"
         id="inputEmail"
         class="form-control"
         name="user[email]"
         placeholder="email@gmail.com">
  </div>
  <div class="form-group">
  <label for="inputPassword">Password</label>
  <input type="password"
         id="inputPassword"
         class="form-control"
         name="user[password]"
         placeholder="Make it a good one">
  </div>
  <div class="form-group">
  <label for="inputPasswordVer">Retype Password</label>
  <input type="password"
         id="inputPasswordVer"
         class="form-control"
         name="user[passwordVerification]"
         placeholder="password verification">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button><br/>
  <a href="/session/new">Already have an account? Sign In</a>
</form>
</div>
